{% extends 'tutor4u/base.html' %}
{% block body %}
      <form action="index.html" method="post">
        
          <h1>Locations</h1>

            <ul>
            <li><a href="https://library.duke.edu/using/room-reservations/perkins-bostock">Perkins+Bostock Study Rooms</a></li>
            <li><a href="https://link.duke.edu/group-study-room-reservation-process">The Link Study Rooms</a></li>
            <li><a href="https://library.duke.edu/using/room-reservations/edge">The Edge</a></li>
            <li><a href="https://library.duke.edu/using/room-reservations/lilly">Lilly Library Study Rooms</a></li>
            <li><a href="https://library.duke.edu/using/room-reservations/music">Music Library Study Rooms</a></li>
            <li><a href="https://law.duke.edu/lib/studyrooms/">Goodson Law Library Study Rooms</a></li>
            <li><a href="https://25live.collegenet.com/duke/mobile.html#/home">Requesting a Classroom</a></li>
        </ul>
        
      </form>
      
{% endblock %}
    
