{% extends 'tutor4u/base.html' %}

{% block body %}
      <form action="index.html" method="post">
        
        <h1> Subjects on Offer </h1>
        <ul>
            <li>ECE

            <ul>
            <li> ECE 110</li>
            <li> ECE 230</li>
            <li> ECE 250</li>
            <li> ECE 270</li>
            <li> ECE 280</li>
            <li> ECE 350</li>
            </ul>
            </li>
            
            <br>
            <li>COMPSCI
            <ul>
                <li> CS 101</li>
                <li> CS 201</li>
                <li> CS 230</li>
                <li> CS 250</li>
                <li> CS 308</li>
                <li> CS 310</li>
                <li> CS 330</li></ul></li>
          </ul>
 {% endblock %}       
          
        
        <button type="submit">Back</button>
      </form>
      
    </body>
</html>
    
